.number {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
}
.check-mark-overlay {
  width: 120px;
  height: 120px;

  & > &__icon {
    animation: successOrderIcon 1s 1;
    & > svg {
      height: 48px;
      width: 48px;
    }
  }

  & > .image {
    animation: successOrder 1s 1;
  }
}

@keyframes successOrder {
  0% {
    transform: rotate(-90deg) scale(0.2);
  }
  50% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes successOrderIcon {
  0%,
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
