.container {
  width: 584px;
  max-width: 584px;
  border-radius: var(--common-border-radius-s);
  background-color: var(--background);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: calc(var(--offset-base-size) * 4);
  }

  div.order-info-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    justify-content: space-between;

    & > div.total {
      margin-left: calc(var(--offset-base-size) * 6);
      display: flex;
      align-items: center;
    }

    & > div.images-wrapper {
      & > img.ingredient {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border: 2px solid transparent;
        border-radius: 50%;
        margin-right: -20px;
        background: linear-gradient(var(--background), var(--background)) padding-box,
          linear-gradient(to right, #801ab2 0%, var(--colors-interface-accent) 100%) border-box;
      }
    }
  }
}
