.auth-container {
  width: 480px;
}

.text {
  &_link,
  &_error {
    text-decoration: none;
  }
  &_link {
    color: var(--colors-interface-accent);
  }
  &_error {
    color: var(--colors-interface-error);
  }
}
