.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.jc {
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: end;
  }
}

.ai-center {
  align-items: center;
}

.ta-center {
  text-align: center;
}

.row {
  display: inline-flex;
  width: 100%;
}

.container {
  max-width: 1240px;
}

.constructor-element {
  background: var(--background);
}

div[class^='tab'] {
  flex: 1 1;
}
