@import '../../styles/mixins/vertical-scrollbar';

.ingredients-wrapper {
  width: 600px;
  & .ingredients {
    overflow-y: auto;
    @include scrollbar;
  }
}

@media (max-width: 900px) {
  .ingredients-wrapper {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
